<nav class="navbar navbar-expand navbar-light bg-light" style="height: 50px;">
  <div class="container">
    <span class="navbar-brand text-success" style="font-weight: 'bolder'; font-size: 'large'" (click)="navigateToHome()">
      {{brandName}}{{mark}}
    </span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let menu of navBarMenu">
          <span [ngStyle]="menu == selectedTab ? {'color': '#ff5500', 'font-weight': 'bolder', 'font-size': 'large', 'pointer':'cursor'} : { 'color': 'black'}"
            class="nav-link" (click)="navigateTo(menu)">{{menu}}</span>
        </li>
      </ul>
    </div>

    <app-search-bar (searchValue)="search($event)"></app-search-bar>
    <i style="margin-left: 25px; cursor: pointer;" class="fa fa-user"></i>
    <i style="margin-left: 25px; cursor: pointer;" class="fa fa-heart"></i>
  </div>
</nav>